.footer {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
        background-color: #283F3B;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }

    &__link {
        opacity: .8;
        transition: .3s;
        color: lightgray !important;
        cursor: pointer;
        text-decoration: none !important;
        font-size: 1.5rem;
        

        &:hover {
            opacity: 1;
        }
    }
}